@use "../abstracts/" as *;

.selection {
    width: 92%;
    margin: 0 auto;
    &__title {
        margin-bottom: 35px;
    }
}

.selectors {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    gap: 25px;
}