@use "../abstracts/" as *;

.explore{
    width: 92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    & > * {
        margin: 20px 0;
    }
    &__title{
        font-weight: $font-weight-bold;
        font-size: $font-size-l;
    }
    &__subtitle{
        font-weight: $font-weight-light;
        font-size: $font-size-m;
    }
    @include media-min($breakpoint-xl) {
        width: 1200px;
    }
}